/*BASIC STYLES*/
body{
background-color: black;
}	

.Header{
font-family: Calibri;
text-align: center;
font-size: 18px;
background-color: white;
}
.NavigationList{
font-family: Consolas;
text-align: center;
font-size: 16px;
font-weight: bold;
}
.NavigationLinks{
text-decoration:none;
color:white;
padding-right:30px;
padding-left:30px;
padding-bottom: 50px;
}
.TextStyle{
color:black;
}
.MainSlideshow{display: none;}

.VideoEmbed{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
}

.FinalTable{
border-style:solid;
border-color:white;
color: white;
font-family: Arial;
text-align: center;
}

.DisplayRow{
background-color: blue;
width: 22px;
border: 2px solid white;
font-size: small;
font-weight: bold;
}

.DisplayTableContent{
font-size: small;
}

.SocialMedia{
color: white;
font-family: Arial;
font-weight: bold;
}
.Footer{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
background-color: white;
}
.TextAbout{
font-family: Arial;
color: white;
font-size: small;
}

.AugustSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextAugust2015{
font-family: Arial;
text-align: center;
font-size: 14px;
color: white;
text-align: left;
}
.PreviousMonth{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
text-decoration:none;
}

.PageTitle{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: yellow;
align: center;
}
.NextMonth{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
text-decoration:none;
}

.DecemberSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}
.TextDecember2015{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.AprilSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextApril2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.MarchSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextMarch2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.MaySlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextMay2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
overflow: scroll;
}
.FebruarySlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextFebruary2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}

.JanuarySlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextJanuary2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.NovemberSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextNovember2015{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.OctoberSlideshow{
font-family: Arial;
text-align: center;
font-weight: bold;
color: white;
}

.TextOctober2016{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.Contains{
position: relative;
}
.PlayerPic{
display: block;
}
.OverImage{background-color: yellow;}

.Contains:hover .OverImage{opacity: 1;}

.PlayerStats{
color: black;
font-size: 10px;
font-family: Arial;
}
.SeptemberSlideshow{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextSeptember2015{
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.DisplayRow{
background-color: blue;
font-size: small;
font-weight: bold;
}
.SubPageTitleTransfers{
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}
.btnResults{
background-color: green;
font: Arial;
font-weight: bold;
}

.btnTransfers{
background-color: green;
font: Arial;
font-weight: bold;
}
.TheResults{
overflow: scroll;
}

.ResultsTable{
background-color: white;
}

.DisplayResultsTableContent{
border-color: black;
font-family: Arial;
text-align: center;
border-style: solid;
font-size: small;
}

#PopUpDiv{
background-color: black;
color: white;
font-family: Arial;
font-size: small;
}
.btnShowHide{
background-color: yellow;
font: Arial;
font-weight: bold;
border: none;
}
/*------LARGE SCREEN SIZE---------*/
@media screen and (min-width: 580px){

.Header{
left: 100px;
width: 1170px;
height: 57px;
}
.NavigationList{
left: 100px;
width: 1170px;
height: 26px;
top: 65px;
}
.HomePagePic{
position: absolute;
left: 320px;
top: 106px;
}
.VideoEmbed{
position: absolute;
left: 167px;
width: 373px;
height: 208px;
top: 626px;
}
.FinalTable{
position:absolute;
left:740px;
top: 596px;
width: 440px;
}
.SocialMedia{
position: absolute;
left: 100px;
top: 866px;
left: 218px;
}
.Footer{
position: absolute;
left: 100px;
width: 1170px;
height: 57px;
top: 1140px;
line-height: 70px;
}
.TextAbout{
position: absolute;
left: 110px;
top: 140px;
}
.AugustSlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextAugust2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.PreviousMonth{
position: absolute;
width: 160px;
height: 30px;
top: 106px;
}

.PageTitle{
position: absolute;
left: 130px;
width: 1080px;
height: 30px;
top: 106px;
}
.NextMonth{
position: absolute;
left: 1020px;
width: 160px;
height: 30px;
top: 106px;
}
.DecemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
}
.TextDecember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.AprilSlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextApril2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.MarchSlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextMarch2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.MaySlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextMay2016{
position: absolute;
left: 650px;
width: 449px;
height: 845px;
top: 246px;
}
.FebruarySlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextFebruary2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.JanuarySlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextJanuary2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.NovemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextNovember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.OctoberSlideshow{
position: absolute;
left: 150px;
top: 246px;
}

.TextOctober2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}

.OverImage{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 111px;;
width: 143px;
opacity: 0;
transition: .5s ease;
}
.Contains:hover .OverImage{
opacity: 1;
}
.PlayerStats{
position: absolute;
top: 45%;
left: 53%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.SeptemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
}
.TextSeptember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
}
.TheResults{
position:absolute;
left:280px;
top: 136px;
width:800px;
height: 980px;
}

.DisplayRow{
width: 22px;
border: 2px solid white;
}

.DisplayTableContent{
border: 2px solid white;
width: 22px;
}
.SubPageTitleTransfers{
position: absolute;
left: 150px;
width: 1080px;
height: 30px;
top: 456px;
color: yellow;
}
.btnResults{
position: absolute;
width: 150px;
height: 40px;
border: none;
color: white;
top: 130px;
left: 100px;
}

.btnTransfers{
position: absolute;
width: 150px;
height: 40px;
border: none;
color: white;
top: 130px;
left: 270px;
}
.DisplayResultsTableContent{
padding: 1px 4px;
}
.MarchSlideshow{
width: 470px;
}
.MainSlideshow{
width: 470px;}

#PopUpDiv{
position: absolute;
width: 300px;
top: 546px;
left: 320px;
}
.btnShowHide{
position: absolute;
top: 546px;
left: 650px;
}