@media screen and (min-width: 580px){

.Header{
position: absolute;
left: 100px;
width: 1170px;
height: 57px;
font-family: Calibri;
text-align: center;
font-size: 18px;
}
.NavigationList{
position: absolute;
left: 100px;
width: 1170px;
height: 27px;
top: 65px;
font-family: Consolas;
text-align: center;
font-size: 16px;
font-weight: bold;
}
.NavigationLinks{
text-decoration:none;
color:white;
padding-right:50px;
padding-left:30px;
padding-bottom: 50px;
}
.TextStyle{
color:black;
}

.HomepageSlideshow{
position: absolute;
left: 150px;
width: 1080px;
height: 427px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 14px;
font-weight: bold;
}

.MainSlideshow{display: none;}

.SubHeadingHomePage{
position: absolute;
left: 150px;
width: 1080px;
height: 30px;
top: 546px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.VideoEmbed{
position: absolute;
left: 167px;
width: 373px;
height: 208px;
top: 626px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
}

.FinalTable{
position:absolute;
left:740px;
top: 596px;
width: 440px;
background-color:white
border-style:solid;
border-color:white;
color: white;
font-family: Arial;
text-align: center;
}

.DisplayRow{
background-color: blue;
width: 22px;
border: 2px solid white;
font-size: small;
font-weight: bold;
}

.DisplayTableContent{
border: 2px solid white;
width: 22px;
font-size: small;
}

.SocialMedia{
position: absolute;
left: 100px;
top: 290px;
color: white;
font-family: Arial;
font-weight: bold;
top: 866px;
left: 218px;
}
.Footer{
position: absolute;
left: 100px;
width: 1170px;
height: 57px;
top: 1140px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
line-height: 70px;
}
.TextAbout{
position: absolute;
left: 110px;
top: 140px;
font-family: Arial;
color: white;
font-size: small;
}
.NextMonth{
position: absolute;
left: 650px;
width: 1080px;
height: 30px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
text-decoration:none;
}

.AugustSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextAugust2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
color: white;
text-align: left;
}
.PreviousMonth{
position: absolute;
left: -380px;
width: 1080px;
height: 30px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
text-decoration:none;
}

.PageTitle{
position: absolute;
left: 150px;
width: 1080px;
height: 30px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}
.NextMonth{
position: absolute;
left: 650px;
width: 1080px;
height: 30px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
text-decoration:none;
}

.DecemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}
.TextDecember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.AprilSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextApril2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.MarchSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextMarch2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.MaySlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextMay2016{
position: absolute;
left: 650px;
width: 449px;
height: 845px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
overflow: scroll;
}
.FebruarySlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextFebruary2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}

.JanuarySlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextJanuary2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.NovemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextNovember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.OctoberSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextOctober2016{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.Contains{
position: relative;
}
.PlayerPic{
display: block;
width: 143px;
height: 111px;
}
.OverImage{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 111px;;
width: 143px;
opacity: 0;
transition: .5s ease;
background-color: yellow;
}
.Contains:hover .OverImage{
opacity: 1;
}
.PlayerStats{
color: black;
font-size: 10px;
font-family: Arial;
position: absolute;
top: 45%;
left: 53%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.SeptemberSlideshow{
position: absolute;
left: 150px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.TextSeptember2015{
position: absolute;
left: 650px;
width: 449px;
height: 345px;
top: 246px;
font-family: Arial;
text-align: center;
font-size: 14px;
text-align: left;
color: white;
}
.ResultsTable{
position:absolute;
left:209px;
top: 156px;
width: 940px;
background-color:white
border-style:solid;
border-color:white;
color: white;
font-family: Arial;
text-align: center;
overflow: scroll;
}

.DisplayRow{
background-color: blue;
width: 22px;
border: 2px solid white;
font-size: small;
font-weight: bold;
}

.DisplayTableContent{
border: 2px solid white;
width: 22px;
font-size: small;
}
.SubPageTitleTransfers{
position: absolute;
left: 150px;
width: 1080px;
height: 30px;
top: 456px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}
.TotalTransfersIn{
position: absolute;
font-family: Arial;
top: 855px;
left: 130px;
color: white
}

.OverallTotalTransfersIn{
position: absolute;
font-family: Arial;
top: 855px;
left: 271px;
color: white
}

.TotalTransfersOut{
position: absolute;
font-family: Arial;
top: 895px;
left: 130px;
color: white
}

.OverallTotalTransfersOut{
position: absolute;
font-family: Arial;
top: 895px;
left: 283px;
color: white
}

.btnResults{
position: absolute;
background-color: green;
width: 150px;
height: 40px;
border: none;
color: white;
top: 130px;
left: 100px;
font: Arial;
font-weight: bold;
}

.btnTransfers{
position: absolute;
background-color: green;
width: 150px;
height: 40px;
border: none;
color: white;
top: 130px;
left: 270px;
font: Arial;
font-weight: bold;
}
.TransfersInTotal{
position: absolute;
top: 360px;
}


	


