.Header{
position: absolute;
left: 100px;
width: 1170px;
height: 57px;
font-family: Calibri;
text-align: center;
font-size: 18px;
}
.NavigationList{
position: absolute;
left: 100px;
width: 1170px;
height: 27px;
top: 66px;
font-family: Arial;
text-align: center;
font-size: 14px;
font-weight: bold;
}
.NavigationLinks{
text-decoration:none;
color: black;
}
.TextStyle{
color:black;
}

.HomepageSlideshow{
position: absolute;
left: 150px;
width: 1080px;
height: 427px;
top: 106px;
font-family: Arial;
text-align: center;
font-size: 14px;
font-weight: bold;
}

.MainSlideshow{display: none;}

.SubHeading{
position: absolute;
left: 150px;
width: 1080px;
height: 30px;
top: 546px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
color: white;
}

.VideoEmbed{
position: absolute;
left: 167px;
width: 373px;
height: 208px;
top: 626px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
}

.FinalTable{
position:absolute;
left:740px;
top: 596px;
width: 440px;
background-color:white
border-style:solid;
border-color:white;
color: white;
font-family: Arial;
text-align: center;
}

.DisplayRow{
background-color: blue;
width: 22px;
border: 2px solid white;
font-size: small;
font-weight: bold;
}

.DisplayTableContent{
border: 2px solid white;
width: 22px;
font-size: small;
}

.SocialMedia{
position: absolute;
left: 100px;
top: 110px;
color: white;
font-family: Arial;
font-weight: bold;
top: 866px;
left: 218px;
}

.Footer{
position: absolute;
left: 100px;
width: 1170px;
height: 57px;
top: 1140px;
font-family: Arial;
text-align: center;
font-size: 16px;
font-weight: bold;
line-height: 70px;
}